html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 64px;
  --footer-height: 222px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none; /* 禁止tooltip响应鼠标事件 */
  transform: translate(0, -25%); /* 将 tooltip 调整到指针上方 */
}
